@CHARSET "UTF-8";

/* section 시작 */



section {
	max-width: 100%;
	min-width: 1300px;
	width: auto;
	height: 800px;
	overflow: hidden;

}

#video {
	width: 100%;
	height: 100%
	
}

video {
	width: 100%;
}

/* 글귀 배너 넣는 위치
 #text_wrap {
	width: 100%;
	min-width: 700px;
	height: 100px;
	position: absolute;
	margin-top: 100px;
}

#text {
	width: 400px;
	height: 100%;
	margin: 0 auto;
} */




/* section 끝 */